.box{
    width: 1000px;
    height:300px;
    background-color: black;
}
dl{
     padding:80px 65px;
    color: white;
    width:300;
    display: inline-block;
}
.box dt{
    width: 190px;
    line-width:190px;
    }

.box dd{
    font-size: 12px;
}