* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.header{
    height: 84px;
}
.main{
    width:1204px;
    margin: 0 auto;
    background-color: #f1f1f1;
}
.header .logo{
    float: left;
    height: 52px;
    width: 176px;
    margin-top:16px;
    margin-right:85px;
}
.header .logo a{
    display: block;
}
.header .logo img{
    width:100%;
}
.header.nav{
    float: left;
}
.header .nav li{
    float:left;
    height: 84px;
    line-height: 84px;
     margin-right: 45px;
}
.header .nav li.noMargin{
    margin-right: 0;line-height: 84px;
}
.header .nav li a{
    font-size: 14px;
    color: #2a2a2a;
}
.header .nav li a:hover{
    color:#2b7dd1;
}
.header .header-right{
    float:right;
    line-height: 84px;
    margin-right:50px;
}
.header .header-right .car{
    float: left;
    position: relative;
    cursor: pointer;
}
.header .header-right  .shopping-car{
    font-size:14px;
    margin-right:25px;
}
.header .header-right .car i{
    width: 24px;
    height:22px;
    margin-right: 12px;
    vertical-align: middle;
    background: url(../image/icon.png) no-repeat;
    display: inline-block;
}
.header .header-right .car:hover{
    color:#2b7dd1;
} 
.header .header-right .car:hover i{
    background-position: -41px 0;
}
.header  .header-right .link{
    line-height: 84px;
    color: #666767;
    font-size: 14px;
    margin-right:33px;
}
.header .header-right .car .hidden-car{
    position: absolute;
    left:-145px;
    top:62px;
    width:306px;
    padding:0 22px;
    background:#ffffff;
    display: none;
    z-index:1;
    
}
.header .header-right .car:hover .hidden-car{
    display: block;
}
.header .header-right .car .hidden-car h3{
    font-size: 16px;
    line-height: 53px;
    color:#333333;
    border-bottom: 1px solid #e1e1e1;
    font-weight: normal;
}
.header .header-right .car .hidden-car h3 span{
    font-size: 12px;
    float:right;
    color: #666767
}
.header .header-right .hidden-car .hiddencar-center .gwc{
    width:70px;
    height: 70px;
    margin: 0 auto;
    margin-top: 60px;
    background:#9e9e9e url(../image/icon.png) no-repeat;
    background-position:12px -27px;
    border-radius: 50%;
}
.header .header-right .hidden-car .hiddencar-center .kong{
    font-size:14px;
    color:#525252;
    width: 189px;
    line-height: 62px;
    text-align: center;
    border-bottom: 1px solid  #e1e1e1;
    margin: 0 auto;
}
.header .header-right .hidden-car .hiddencar-center .please .please{
    height:100px;
}
.header .header-right .hidden-car .hiddencar-center .please a{
    display: inline-block;
    line-height: 14px;
    font-size: 12px;
    color:#4e91d7;
    margin-left: 90px;
}
.header .header-right .hidden-car .hiddencar-botm {
    height: 69px;
    line-height: 69px;
    border-top: 1px solid  #e1e1e1;
}
.header .header-right .hidden-car .hiddencar-botm span{
    font-size: 12px;
    line-height:69px;
    color:#c4c4c4;
}
.header .header-right .hidden-car .hiddencar-botm a{
    float: right;
    font-size: 12px;
    width: 80px;
    height: 38px;
    line-height:38px;
    text-align: center;
    color:#fdfdfe;
    background-color: #4e91d7;
    margin-top: 16px;
    border-radius: 5px;

}
/* banner样式 */
.banner{
    position: relative;
    width:1204px;
    height: 360px;
    overflow: hidden;
}
.banner .bannerimg{
    width:4816px;
}
.banner .bannerimg li{
    float: left;
}
.banner-sidnav{
        position: absolute;
        left:0;
        top:0;
        width:240px;
        height: 360px;
        background-color: rgba(0,0,0,.2);
    }
.banner-sidnav li{
    height: 70px;
    line-height: 70px;
    margin-left:20px;
}
.banner-sidnav li a{
    float: left;
    width:190px;
    font-size: 14px;
    color: #fdfdfe;
   text-align: center;
    border-bottom: 1px  solid  #e1e1e1;
}
.banner-sidnav li .ban-hidden{
    display: none;
}







/* footer页尾样式 */
.footer{
    height: 274px;
    background-color:  #2e2e2e;
}
.footer .footer-left dl{
    float: left;
    margin-top: 60px;
    margin-right: 100px;
}
.footer .footer-left dt{
    font-size: 18px;
    color:#fefdfd;
    padding-bottom:30px;
}

.footer .footer-left dd{
        font-size: 12px;
        color:#ebeaea;
        line-height: 20px;
}
.footer-right{
    float: right;
    margin-right: 60px;
}
.footer-right .footer-beijing{
    width:210px;
    height:65px;
    margin-top: 70px;
    background: url(../image/foot-icon.png) no-repeat;
    background-position: 0 -90px;
}
.footer-right ul li{ 
    float: left;
    cursor: pointer;
    position: relative;
}
.footer-right ul li span{
    display: inline-block;
    width:50px;
    height:50px;
    background: url(../image/foot-icon.png) no-repeat;
}
.footer-right  .foot-hidden{
    left: -70px;
    top: -200px;
    position: absolute;
    display: none;
    
}
.footer-right .foot-hidden i{
    display: inline-block;
    position: absolute;
    left:80px;
    top:189px;
    width: 0;
    border:10px solid ;
    border-color: white transparent transparent;
}
.footer-right .weibo{
    background: url(../image/foot-icon.png) no-repeat;
}
.footer-right .weixin{
    background-position: -70px 0;
}
.footer-right .apple{
    background-position: -140px 0;
}
.footer-right .anzhuo{
    background-position: -225px 0;
}
.footer-right li:hover .foot-hidden{
    display: block;
}
